{% extends 'base.html' %}
{% load static %}
{% block title %}studenthome{% endblock title %}
{% block content %}
<div>
    <!-- <body id="bg" style="background-image: url('{% static "image/img7.jpg"%}')" repeat:no-repeat;> -->
    <h1>Why do you choose Crossroads</h1>
    <div>
        <h5>&#10004;Infopark based No.1 Professional Training Center.</h5>
        <h5>&#10004;We are the Frontrunner in IT Training.</h5>
        <h5>&#10004;Our Students are Well Placed across the Globe.</h5>
        <h5>&#10004;Crossroads near to the Completion of One Decade with 100% Placement Records.</h5>
        <h5>&#10004;Majority of IT employees in Software Test Automation are from crossroads.</h5>
        <h5>&#10004;Crossroads Trained ten thousands of satisfied IT employees.</h5>
        <h5>&#10004;Currently We are close to 15 successful years.</h5>
        <h5>&#10004;Thank You For Making us No.1</h5>
    </div>
</div>
</body>
{% endblock content %}