{% extends 'mainbase.html' %}
{% load static %}
{% block title %}signup{% endblock title %}
{% block content%}
<style>
    #div1 {
        background-color: rgb(14, 131, 131);
        padding: 50px;
        margin-top:  15%;
        border: 1px dotted rgb(185, 46, 46);
        border-radius: 25px;
        margin-right:450px;
        margin-left:450px; display: flex;
        justify-content: center;
    }
    .error {
        border: solid red !important;
    }
    .px p {
        text-align: center;
        color:red;
    }
</style>
<div id="div1">


<form action="" method="POST">
    <div style="padding-left:40px;">

      <button type="button" class="btn btn-info">Sign Up</button>
      <button type="button" class="btn btn-info" onclick="window.location.href='../signin'">Sign In</button>
    </div>
  
      <h1>SIGN UP</h1>

      <div class="px">
        <p id="text"></p>
      </div>
      <div class="fld" id="rrm">
        <form action="" method="POST">
          {% csrf_token %}
          <div>{% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
          </div>

      </div>
          <div class="row d-block">
            <div class="col">
                <input id="name" name="name" type="text" class="form-control" placeholder="name" onchange="validname()" required><br>
              </div>  
            <div class="col">
              <input id="email" name="email"type="email" class="form-control" placeholder="emailid" onchange="validemail()"><br>
            </div>
            <div class="col">
                <input id="ph" name="phno" type="text" class="form-control" placeholder="phone number" onchange="validphn()"><br>
              </div>
            <div class="col" style="padding-top: 15px;">
              <input id="pass1" name="password" type="password" class="form-control" placeholder="Password" onchange="validpass()">
            </div>
            <div class="col" style="padding-top: 15px;">
                <input id="pass2" name="password2" type="password" class="form-control" placeholder="conform Password" onchange="validpassconform()">
              </div>
          </div>
        <div style="padding-top:15px; padding-left:55px">
          <button class="btn btn-info" type="submit" id="signup" value="signup" role="button"> signup</button>
        </div>
        
      </form>
</div>

<script src="{% static 'js/signup.js' %}"></script>
{% endblock content%}