{% extends 'base.html' %}
{% block title %}student deatils {% endblock %}
{% block content %}
        <h1 class="text-center">Staff Details</h1>
        <div class="container table table-dark table-striped text-center">
        <table style="color: white;">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Place</th>




            </tr>
            {% for i in form %}
            <tr>
                <td>{{i.student_name}}</td>
                <td>{{i.student_email}}</td>
                <td>{{i.student_phone}}</td>
                <td>{{i.student_address}}</td>
                <td>{{i.student_place}}</td>
                <td><a href="{% url 'edit' %}?edit={{i.student_id}}"class="btn text-light btn-outline-secondary">Edit</a></td>
                <td><a href="{% url 'delete' %}?delete={{i.student_id}}"class="btn text-light btn-outline-secondary">delete</a></td>

            </tr>
            {% endfor %}

        </table>
    {% endblock %}    
        
